@import '../../utils/colors.scss';

.dropzone {
  max-width: 1140px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__icon {
    position: absolute;
    top: 0;
    right: 6px;
    cursor: pointer;
  }

  &__text {
    z-index: -1;
  }
}

.drop-area {
  position: relative;
  width: 100%;
  height: calc(80vh);
  border: 2px dashed $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
