@import '../../utils/colors.scss';

.disk{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 100vh;

    &__btns{
        display: flex;
    }

    &__create{
        margin-left: 10px;
    }

    &__upload-input{
        display: none;
    }

    &__upload-label{
        border: 2px dashed $font-color;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
    }
}

